.card-img-top {
  max-height: 10em;
  object-fit: cover;
}

/* Botón de iniciar sesión (outline) */
.btn-outline-primary {
  color: #FF8C00;
  border-color: #FF8C00;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #FF8C00;
  color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(255, 140, 0, 0.918);
}

/* Botón de registrarse (lleno) */
.btn-primary {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: #fff;
}

.btn-primary:hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
  box-shadow: 0 0.2rem 0.5rem rgba(255, 140, 0, 0.918);
}

.btn-orange {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: #fff
}

.btn-orange:hover {
  background-color: #FF7F00;
  color: #ffff;
  box-shadow: 0 0.3rem 0.8rem rgb(255, 102, 0);
}
