.card-img-top {
  max-height: 10em;
  object-fit: cover;
}

/* Botón de iniciar sesión (outline) */
.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: #fff;
  box-shadow: 0 0.3rem 0.8rem rgba(13, 110, 253, 0.25);
}

/* Botón de registrarse (lleno) */
.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0.3rem 0.8rem rgba(13, 110, 253, 0.4);
}

.btn-orange {
  background-color: #FF8C00;
  border-color: #FF8C00;
  color: #fff
}

.btn-orange:hover {
  background-color: #FF7F00;
  color: #fff;
  box-shadow: 0 0.3rem 0.8rem rgb(255, 102, 0);
}
