<div class="d-flex justify-content-end gap-2 mt-3 me-3">
  <button class="btn btn-outline-primary" (click)="goToLogin()">
    <i class="bi bi-box-arrow-in-right me-1"></i>
    Iniciar Sesión
  </button>

  <button class="btn btn-primary" (click)="goToRegister()">
    <i class="bi bi-person-plus-fill me-1"></i>
    Registrarse
  </button>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center mb-4">
    <div>
      <h1 class="fw-bold mb-1">Explorá las mejores opciones</h1>
      <p class="text-muted mb-0">Descubrí lo más pedido cerca tuyo</p>
    </div> 
  </div>
  <!-- Grid de Cards -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for(item of items; track $index) {
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="item.image" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text text-muted">{{ item.description }}</p>
          </div>
          <div class="card-footer bg-white border-top-0">
            <button class="btn btn-orange">Ver Más</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

